* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #dadada;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}